{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>GentlePaws </title>
    <!-- css file link -->
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

   
</head>
<body>

    <!-- header section starts -->
    <!-- <i class="fas fa-bone"></i>   <i class="fa-solid fa-dog"></i> -->
    <!-- icons: https://fontawesome.com/ -->


    <header>

        <div id="menu" class="fas fa-bars"></div>

        <a href="#home" class="logo"><i class="fa-solid fa-dog"></i> GentlePaws </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#category">category</a>
            <a href="#featured">features</a>
            <a href="#products">products</a>
            <a href="#offer">offers</a>
            <a href="#contact">contact</a>
        </nav>

        <div class="icons">
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="{% url 'checkout' %}" class="fas fa-shopping-cart"></a>

        </div>

        <form action="" id="search-box">
            <input type="search" id="search" placeholder="Search at GentlePaws...">
            <label for="search" class="fas fa-search"></label>          
           
        </form>

    </header>
    
    <!-- header section ends -->


    <!-- home section starts -->

    <section class="home" id="home">

        <div class="content">
            <span>Discounts from 50%</span>
            <h3>Affection & care<br> for your pet!</h3>
            <a href="#category" class="btn">Start</a>
        </div>


    </section>


    <!-- home section ends -->


    <!-- category section starts -->

    <section class="category" id="category">
        <h1 class="heading"> <i class="fas fa-paw"></i> Pet food by category <i class="fas fa-paw"></i></h1>
        <div class="box-container">

            <div class="box">
                <!-- <img src="static/assets/img/Pet_1.png" alt=""> -->
                <img src="{% static 'assets/img/Pet_1.png' %}" alt="">
                <h3>dog food</h3>
                <a href="dogfood.html" class="btn">Buy now</a>
            </div>

            <div class="box">
                <!-- <img src="static/assets/img/Pet_2.png" alt=""> -->
                <img src="{% static 'assets/img/Pet_2.png' %}" alt="">

                <h3>Rabbit food</h3>
                <a href="#" class="btn">Buy now</a>
            </div>

            <div class="box">
                <!-- <img src="static/assets/img/Pet_3.png" alt=""> -->
                <img src="{% static 'assets/img/Pet_3.png' %}" alt="">

                <h3>Cat food</h3>
                <a href="#" class="btn">Buy now</a>
            </div>

            <div class="box">
                <!-- <img src="static/assets/img/Pet_4.png" alt=""> -->
                <img src="{% static 'assets/img/Pet_4.png' %}" alt="">

                <h3>Bird food</h3>
                <a href="#" class="btn">Buy now</a>
            </div>

        </div>


    </section>

    <!-- category section ends -->

  <section class="featured" id="featured">

    <h1 class="heading"> <i class="fas fa-paw"></i> New Releases <i class="fas fa-paw"></i></h1>

    <div class="box-container">

        <div class="box">
            <div class="price">₹249.99</div>
            <!-- <img src="static/assets/img/escada-pet.png" alt=""> -->
            <img src="{% static 'assets/img/escada-pet.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Pet Stairs with 4 Anti-Slip Steps</h3>
                <p>Make Your Pet's Routine and Life Easier with Portable Stairs and Ramps!</p>
                <a href="#" class="btn">Buy now</a>
            </div>
        </div>

        <div class="box">
            <div class="price">₹139.90</div>
            <!-- <img src="static/assets/img/marmita-para-pet.png" alt=""> -->
            <img src="{% static 'assets/img/marmita-para-pet.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Pet Food Container Stainless Steel</h3>
                <p>Ensure fresh food for your pet even when you're away from home.</p>
                
                <a href="#" class="btn">Buy now</a>
            </div>
        </div>

    </div>


  </section>
    

<!-- deal section starts -->

<section class="deal">

    <span>Up to 70% off</span>
    <h3>Price & quality pet food</h3>
    <a href="#" class="btn">Check out the Products</a>

</section>

<!-- deal section ends -->


<section class="products" id="products">

    <h1 class="heading"> <i class="fas fa-paw"></i> Our Latest Products <i class="fas fa-paw"></i></h1>

    <div class="box-container">

        <div class="box">
            <!-- <img src="static/assets/img/Cama_Retangular_p1.png" alt=""> -->
            <img src="{% static 'assets/img/Cama_Retangular_p1.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Rectangular Bed</h3>
                <div class="price"> ₹67.72 <span>₹79.90</span> </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="box">
            <!-- <img src="static/assets/img/bol_pet_p2.png" alt=""> -->
            <img src="{% static 'assets/img/bol_pet_p2.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa

-star"></i>
                </div>
                <h3>Pet Silicone Balls</h3>
                <div class="price"> ₹37.19 <span>₹49.99</span> </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="box">
            <!-- <img src="static/assets/img/Premier_Gourmet_salmao.png" alt=""> -->
            <img src="{% static 'assets/img/Premier_Gourmet_salmao.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Premier Gourmet Dogs</h3>
                <div class="price"> ₹7.99 <span>₹9.49</span> </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="box">
            <!-- <img src="static/assets/img/racao-golden-gatos-p4.png" alt=""> -->
            <img src="{% static 'assets/img/racao-golden-gatos-p4.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Golden Adult Cat Food</h3>
                <div class="price"> ₹139.41 <span>₹154.90</span> </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="box">
            <!-- <img src="static/assets/img/gaiola-ramster_p5_.png" alt=""> -->
            <img src="{% static 'assets/img/gaiola-ramster_p5_.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Hamster Cage</h3>
                <div class="price"> ₹127.11 <span>₹169.03</span> </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

        <div class="box">
            <!-- <img src="static/assets/img/racao-golden-p6.png" alt=""> -->
            <img src="{% static 'assets/img/racao-golden-p6.png' %}" alt="">

            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>Golden Formula Dog Food</h3>
                <div class="price"> ₹116.91 <span>₹129.90</span> </div>
                <a href="#" class="btn">Buy</a>
            </div>
        </div>

    </div>

</section>

<!-- offer section starts -->

<section class="offer" id="offer">

    <h1 class="heading"> <i class="fas fa-paw"></i> Products on Offer <i class="fas fa-paw"></i></h1>
    
    <div class="box-container">

        <div class="box">
            <!-- <img src="static/assets/img/offer-img1_.png" alt=""> -->
            <img src="{% static 'assets/img/offer-img1_.png' %}" alt="">

            <div class="content">
                <span>Best Deals</span>
                <h3>Up to 50% off</h3>
                <a href="#" class="btn">View Offers</a>
            </div>
        </div>

        <div class="box">
            <!-- <img src="static/assets/img/offer-img2_.png" alt=""> -->
            <img src="{% static 'assets/img/offer-img2_.png' %}" alt="">

            <div class="content">
                <span>Today's Discounts</span>
                <h3>Up to 80% off</h3>
                <a href="#" class="btn">View Offers</a>
            </div>
        </div>

    </div>

</section>


<!-- offer section ends -->

<!-- contact section starts -->

<section class="contact" id="contact">

    <h1 class="heading"> <i class="fas fa-paw"></i> Contact Us <i class="fas fa-paw"></i></h1>
    <form action="">

        <div class="inputBox">
            <input type="text" maxlength="40" placeholder="Name">
            <input type="text" name="email" maxlength="60" placeholder="Email">
        </div>

        <div class="inputBox">
            <input type="number" min=0 maxlength="20" placeholder="Phone">
            <input type="text" placeholder="Subject">
        </div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>

        <input type="submit" value="Send Message" class="btn">


    </form>


</section>


<!-- contact section ends -->


<!-- footer section -->

<section class="footer">

    <div class="share">
        <a href="#" class="btn">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="btn">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

    <h1 class="credit"> created by <span> Rahul Seth, Madhav Sharma & Utkarsh Kumar </span> | © all rights reserved! </h1>



</section>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- jquery cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- custom js file link -->
    <script src="{% static 'assets/js/main.js' %}"></script>

   
</body>
</html>
```
